.comp-Header {
    height: 5em;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: whitesmoke;
    padding: 1em;

    .list-icons {
        display: flex;
        justify-content: space-around;
    }
    ul li {
    
        list-style: none;
        display: inline-block;
        line-height: 1;
        margin: 10px;
        border-radius: 3px;
        position:relative; 
    }
    ul li a {
        color:inherit;
        text-decoration:none !important;
        font-size:18px;
        width: 250px;
    }   
}