.about {
    display: flex;
    .element{
      
        padding-left: 5%;
        margin: 20px;
        width: 50%;
    }

    h2 {
        padding: 10px;
    }
    .api{
        padding-bottom: 5%;
    }
}